@page
@model IndexModel
@using WebApplication1.Models
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Dyreinternattet Skøregade</h1>
</div>
<div class="text-center">
<img class="frontpictures" src="~/Images/wildlife-african-animals-background-cute-260nw-386488807.jpg" width="1300xp" lenght="700px"/>    
</div>
@{

}
